In [1]:
import pandas as pd
import numpy as np

# 1. CREATE DATA (The "Dictionary" Method)
# This is how you manually build a DataFrame
data = {
    "Student": ["Amit", "Neha", "Rahul", "Priya", "Ankit"],
    "Math": [85, 92, 78, 95, 88],
    "Science": [90, 94, 82, 98, 85],
    "English": [88, 85, 80, 92, 87]
}

# Convert Dictionary -> DataFrame
df = pd.DataFrame(data)

# 2. INSPECT (The "Interview")
print("--- HEAD (First 5 rows) ---")
print(df.head())

print("\n--- INFO (Data Types & Missing Values) ---")
print(df.info())

print("\n--- DESCRIBE (Statistics) ---")
# This automatically calculates Mean, Min, Max, and Percentiles
print(df.describe())

--- HEAD (First 5 rows) ---
  Student  Math  Science  English
0    Amit    85       90       88
1    Neha    92       94       85
2   Rahul    78       82       80
3   Priya    95       98       92
4   Ankit    88       85       87

--- INFO (Data Types & Missing Values) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Math     5 non-null      int64
 2   Science  5 non-null      int64
 3   English  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None

--- DESCRIBE (Statistics) ---
            Math    Science    English
count   5.000000   5.000000   5.000000
mean   87.600000  89.800000  86.400000
std     6.580274   6.496153   4.393177
min    78.000000  82.000000  80.000000
25%    85.000000  85.000000  85.000000
50%    88.000000  90.000000  87.000000
75%    92.000000  94.000000  88.000000
max    95.000000  98.000000  92.000000

In [6]:
import pandas as pd

# 1. SETUP: Create the DataFrame
data = {
    "Student": ["Amit", "Neha", "Rahul", "Priya", "Ankit"],
    "Math": [85, 92, 78, 95, 88],
    "Science": [90, 94, 82, 98, 85],
    "English": [88, 85, 80, 92, 87]
}
df = pd.DataFrame(data)

# 2. FEATURE ENGINEERING (Creating New Columns)
# Notice how we add entire columns together instantly (Vectorization)
df['Total'] = df['Math'] + df['Science'] + df['English']
df['Average'] = df['Total'] / 3

# 3. FILTERING (Finding the Toppers)
# We create a new DataFrame 'toppers' containing only rows where Average > 90
toppers = df[df['Average'] > 90]

# 4. OUTPUT
print("--- Full Marksheet ---")
print(df)

print("\n--- ðŸ† Top Performers (Avg > 90) ---")
print(toppers)

--- Full Marksheet ---
  Student  Math  Science  English  Total    Average
0    Amit    85       90       88    263  87.666667
1    Neha    92       94       85    271  90.333333
2   Rahul    78       82       80    240  80.000000
3   Priya    95       98       92    285  95.000000
4   Ankit    88       85       87    260  86.666667

--- ðŸ† Top Performers (Avg > 90) ---
  Student  Math  Science  English  Total    Average
1    Neha    92       94       85    271  90.333333
3   Priya    95       98       92    285  95.000000