In [2]:
import pandas as pd

# 1. TABLE A: THE TRANSACTIONS (Sales Data)
sales_data = {
    "TransactionID": [1, 2, 3, 4, 5, 6],
    "ProductID": [101, 102, 101, 103, 102, 101],
    "Quantity": [2, 1, 5, 3, 2, 1],
    "Revenue": [200, 50, 500, 150, 100, 100]
}
sales = pd.DataFrame(sales_data)

# 2. TABLE B: THE PRODUCT INFO (Catalog)
product_data = {
    "ProductID": [101, 102, 103],
    "ProductName": ["Laptop", "Mouse", "Keyboard"],
    "Category": ["Electronics", "Accessories", "Accessories"]
}
products = pd.DataFrame(product_data)

print("--- 1. The Sales Table ---")
print(sales)

print("\n--- 2. The Products Table ---")
print(products)

# 3. MERGE (The VLOOKUP)
# We join them on 'ProductID' so we know WHAT was sold.
full_df = pd.merge(sales, products, on="ProductID")

print("\n--- 2. The Merged Table (Full Details) ---")
print(full_df)

# 4. GROUPBY (The Pivot Table)
# Q: How much revenue did each Product Name generate?
report = full_df.groupby("ProductName")["Revenue"].sum()

print("\n--- 3. Total Revenue by Product ---")
print(report)

--- 1. The Sales Table ---
   TransactionID  ProductID  Quantity  Revenue
0              1        101         2      200
1              2        102         1       50
2              3        101         5      500
3              4        103         3      150
4              5        102         2      100
5              6        101         1      100

--- 2. The Products Table ---
   ProductID ProductName     Category
0        101      Laptop  Electronics
1        102       Mouse  Accessories
2        103    Keyboard  Accessories

--- 2. The Merged Table (Full Details) ---
   TransactionID  ProductID  Quantity  Revenue ProductName     Category
0              1        101         2      200      Laptop  Electronics
1              2        102         1       50       Mouse  Accessories
2              3        101         5      500      Laptop  Electronics
3              4        103         3      150    Keyboard  Accessories
4              5        102         2      100       Mouse  Accessories
5              6        101         1      100      Laptop  Electronics

--- 3. Total Revenue by Product ---
ProductName
Keyboard    150
Laptop      800
Mouse       150
Name: Revenue, dtype: int64

In [7]:
import pandas as pd

# 1. TABLE A: THE TRANSACTIONS (Sales Data)
sales_data = {
    "TransactionID": [1, 2, 3, 4, 5, 6],
    "ProductID": [101, 102, 101, 103, 102, 101],
    "Quantity": [2, 1, 5, 3, 2, 1],
    "Revenue": [200, 50, 500, 150, 100, 100]
}
sales = pd.DataFrame(sales_data)

# 2. TABLE B: THE PRODUCT INFO (Catalog)
product_data = {
    "ProductID": [101, 102, 103],
    "ProductName": ["Laptop", "Mouse", "Keyboard"],
    "Category": ["Electronics", "Accessories", "Accessories"]
}
products = pd.DataFrame(product_data)

# Display Input Tables
print("--- 1. The Sales Table ---")
print(sales)
print("\n--- 2. The Products Table ---")
print(products)

# 3. Merge Tables
# Using 'left' merge ensures all sales are kept, even if product info is missing
merged_df = pd.merge(sales, products, on="ProductID", how="left")
print("\n--- 3. The Merged Table ---")
print(merged_df)

# 4. Group and Summarize
# Group by Category and sum the Revenue
category_revenue = merged_df.groupby("Category")["Revenue"].sum().reset_index()
print("\n--- 4. Total Revenue by Category ---")
print(category_revenue)

--- 1. The Sales Table ---
   TransactionID  ProductID  Quantity  Revenue
0              1        101         2      200
1              2        102         1       50
2              3        101         5      500
3              4        103         3      150
4              5        102         2      100
5              6        101         1      100

--- 2. The Products Table ---
   ProductID ProductName     Category
0        101      Laptop  Electronics
1        102       Mouse  Accessories
2        103    Keyboard  Accessories

--- 3. The Merged Table ---
   TransactionID  ProductID  Quantity  Revenue ProductName     Category
0              1        101         2      200      Laptop  Electronics
1              2        102         1       50       Mouse  Accessories
2              3        101         5      500      Laptop  Electronics
3              4        103         3      150    Keyboard  Accessories
4              5        102         2      100       Mouse  Accessories
5              6        101         1      100      Laptop  Electronics

--- 4. Total Revenue by Category ---
      Category  Revenue
0  Accessories      300
1  Electronics      800

In [11]:
import pandas as pd

# 1. THE BOOK CATALOG
books = pd.DataFrame({
    "BookID": [1, 2, 3, 4, 5],
    "Title": ["The Alchemist", "Harry Potter", "Sherlock Holmes", "It", "The Hobbit"],
    "Genre": ["Fiction", "Fantasy", "Mystery", "Horror", "Fantasy"]
})

# 2. THE BORROWING LOGS (Who borrowed what?)
borrows = pd.DataFrame({
    "LogID": [101, 102, 103, 104, 105, 106, 107],
    "BookID": [1, 2, 2, 3, 5, 2, 4] # Note: BookID 2 (Harry Potter) appears multiple times
})

print("--- Books Catalog ---")
print(books)
print("\n--- Borrow Logs ---")
print(borrows)

# 1. Merge the tables
full_data = pd.merge(books, borrows, on="BookID")
print("\n--- Full Data (Merged) ---")
print(full_data)
#2. Group by Genre and Count
full_data = full_data.groupby("Genre").count()
print("\n--- Genre Counts ---")
print(full_data)

--- Books Catalog ---
   BookID            Title    Genre
0       1    The Alchemist  Fiction
1       2     Harry Potter  Fantasy
2       3  Sherlock Holmes  Mystery
3       4               It   Horror
4       5       The Hobbit  Fantasy

--- Borrow Logs ---
   LogID  BookID
0    101       1
1    102       2
2    103       2
3    104       3
4    105       5
5    106       2
6    107       4

--- Full Data (Merged) ---
   BookID            Title    Genre  LogID
0       1    The Alchemist  Fiction    101
1       2     Harry Potter  Fantasy    102
2       2     Harry Potter  Fantasy    103
3       2     Harry Potter  Fantasy    106
4       3  Sherlock Holmes  Mystery    104
5       4               It   Horror    107
6       5       The Hobbit  Fantasy    105

--- Genre Counts ---
         BookID  Title  LogID
Genre
Fantasy       4      4      4
Fiction       1      1      1
Horror        1      1      1
Mystery       1      1      1