In [3]:
import numpy as np
my_list = [10 , 20 , 30]
arr = np.array(my_list)
print(arr)
print(type(arr))

[10 20 30]
<class 'numpy.ndarray'>

In [5]:
list_ = my_list + 5
# it crashes as normal list can't add

TypeError: can only concatenate list (not "int") to list

TypeError: can only concatenate list (not "int") to list

In [6]:
arr_ = arr + 5
# the numpy array is smart and adds 5 to every element
print(arr_)

[15 25 35]

In [7]:
marks = np.array([10,15,20,25,28,22,18,19])
print(np.mean(marks))
print(np.max(marks))
print(np.min(marks))

19.625
28
10